.wrapper-spots{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.header-info {
    display: flex;
    padding-top: 1rem;
    flex-wrap: nowrap;
}
.pictures {
    display: flex;
    box-sizing: border-box;
    height: 400px;
    width: 100%;
  }
  
  .left-pic {
    flex-basis: 50%;
    overflow: hidden;
    display: flex;
    margin-right:0.5rem;
    height: 400px;
  }
  
  .left-pic img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .right-pics {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    box-sizing: border-box;
    height: 400px;
    overflow: hidden;
  }
  
  .right-pics img {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

.host-info{
    display: flex;
    flex-basis: 50%;
}
.left-info{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-top:1rem;
    padding:1rem 1rem 1rem 0;
}
.left-info p{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    padding:1rem 1rem 1rem 0;
}
.right-info{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    margin-top:1rem;
    padding-bottom:1rem;
    align-items: center;
}
.card-info{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 21px;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
}
.top-info{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-left{
    display:flex;
    align-items: baseline;
    font-size: 15px;
}
.card-right{
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-basis: 50%;
}
.rating-info{
    display:flex;
    border-left: 2px solid lightgray;
    flex-direction: row;
    box-sizing: border-box;
    flex-basis: 50%;
    align-items:baseline;
    justify-content: space-evenly;
    height: fit-content;
    border-right: 2px solid lightgray;
}
.rating-info div{
    display:flex;
    flex-direction: row;
    width: 55%;
    box-sizing: border-box;
    align-items:center;

    justify-content: space-between;
}
.reviews{
    display:flex;
    box-sizing: border-box;
    align-items: baseline;
    font-size: 14px;
    justify-content: start;
    align-items: flex-start;
    text-align:start;
    width: 10%;
}
.review{
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    font-size: 14px;
}
.first-star{
    display: flex;
    font-size: 12px;
    align-items: flex-start;
    justify-content: center;
}
.reserve-button{
    border: 2px solid black;
    background-color: red;
    color: white;
    font-size: 17px;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    filter: drop-shadow(3px 3px 1px black);
}

.navBar-right{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.review-wrapper{
    display: flex;
    flex-direction: column;
}
.review-info{
    display:flex;
    box-sizing: border-box;

    align-items:flex-start;
    justify-content: flex-start;
    font-size: 14px;
    border: 1px solid black;
}
.left-review-info{
    display:flex;
    box-sizing: border-box;
    flex-basis: 10%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    height:auto;
}
.numReview{
    margin-right: 1rem;
    margin-left: 1rem;
}
